<h1>
    <i class="fa fa-print"></i> Print Transactions <span *ngIf="printer">on {{ printer.description }}</span>
</h1>

<div class="row" *ngIf="printer">
    <div class="col-lg-8">
        <mat-card>
            <mat-card-header>

                <mat-card-title><span *ngIf="!printer.current_session">Previous</span> Transactions</mat-card-title>
                <mat-card-subtitle *ngIf="printer.current_session && printer.current_session.user.id == currentUser.id">
                    <button mat-raised-button (click)="newTransaction()" color="primary"><i class="fa fa-plus"></i> New</button>
                </mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="mds" class="full-width table-hover">


                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> Time </th>
                        <td mat-cell *matCellDef="let transation">
                            {{ transation.time | parseDate | dfnsFormat: 'MMM DD, YYYY hh:mm A'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="member">
                        <th mat-header-cell *matHeaderCellDef> Member </th>
                        <td mat-cell *matCellDef="let transation">
                            {{ transation.member.fullname }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sales">
                        <th mat-header-cell *matHeaderCellDef> Sales </th>
                        <td mat-cell *matCellDef="let transation" class="text-right">
                            {{ transation.sales | currency: ' ' }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="transactionTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: transactionTableColumns;" (click)="viewTransactionItems(row)"></tr>

                </table>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-4">
        <mat-card *ngIf="!printer.current_session">
            <mat-card-header>
                <mat-card-title class="text-muted">No Current User</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <button mat-raised-button color="primary" (click)="joinPrinting()" [disabled]="isJoiningOrLeaving">
                  <mat-icon>meeting_room</mat-icon>
                  {{ !isJoiningOrLeaving ? 'Join Printing Session' : 'Joining...' }}
                </button>

            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="printer.current_session">
            <mat-card-header>
                <mat-card-title>Current Session</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <mat-list>
                    <mat-list-item>User: {{ printer.current_session.user.firstname }}</mat-list-item>

                    <mat-list-item>Total Sales: {{ printer.current_session.sales | currency: ' ' }}</mat-list-item>
                    <mat-list-item class="text-danger" *ngIf="printer.current_session && printer.current_session.user.id != currentUser.id">Only 1 user can join the printing session as of now.</mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="error" [disabled]="isJoiningOrLeaving" *ngIf="printer.current_session && printer.current_session.user.id == currentUser.id" (click)="leavePrinting()">
                  <mat-icon>no_meeting_room</mat-icon>
                  {{ !isJoiningOrLeaving ? 'Leave Printing' : 'Leaving...' }}
                </button>

            </mat-card-actions>
        </mat-card>
    </div>
</div>
