<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-icon-button>
          <mat-icon (click)="toggle()">menu</mat-icon>
        </button> -->
        <h1>CS<sup>3</sup> &nbsp;&nbsp;&nbsp;&nbsp;</h1>
        <span class="menu-spacer"></span>
        <a mat-button routerLink="/g/home" routerLinkActive="_active">
          Home
        </a>
        <a mat-button routerLink="/g/about" routerLinkActive="_active">
          About
        </a>
        <a mat-button routerLink="/g/driectory" routerLinkActive="_active">
          Directory
        </a>


        <div class="flex-spacer"></div>

        <app-theme-picker title="Change Theme"></app-theme-picker>

        <a mat-button (click)="signIn()">
            Sign In
        </a>
    </mat-toolbar-row>

    <!-- <mat-toolbar-row>

  </mat-toolbar-row> -->

</mat-toolbar>

<br>

<router-outlet></router-outlet>