<div class="row">
    <div class="col-sm-6">
        <h1><mat-icon>events</mat-icon> Events</h1>
    </div>
    <div class="col-sm-6 text-right">
        <button mat-raised-button routerLink="create"><mat-icon>add</mat-icon> New Event</button>
    </div>
</div>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let event">
            {{ event.name }}
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Event Date</mat-header-cell>
        <mat-cell *matCellDef="let event">
            {{ event.event_date }}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let event; columns: columns" matRipple (click)="select(event)"></mat-row>
</table>