<div class="row">
    <div class="col-sm-6">
        <h1><mat-icon>events</mat-icon> Events</h1>
    </div>
    <div class="col-sm-6 text-right">
        <button mat-raised-button routerLink="create"><mat-icon>add</mat-icon> New Event</button>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" [@fetch]="loading ? 'fetching' : 'done'">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let event">
                    <a [routerLink]="event.id">{{ event.name }}</a>
                </mat-cell>
            </ng-container>
        
        
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Event Date</mat-header-cell>
                <mat-cell *matCellDef="let event">
                    {{ event.event_date }}
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let event; columns: columns" matRipple (dblclick)="select(event)"></mat-row>
        </table>

        <app-ellipis-loading *ngIf="loading"></app-ellipis-loading>
    </mat-card-content>
</mat-card>