<form [formGroup]="form" autocomplete="off" (submit)="submit()">
    <h2 mat-dialog-title> Sign In</h2>
    <mat-dialog-content class="mat-typography">
        <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput [formControl]="form.controls.username" [disabled]="loading" placeholder="Username">
            <mat-error>Required</mat-error>
        </mat-form-field>

        <br><br>


        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" [formControl]="form.controls.password" [disabled]="loading" placeholder="Password">
            <mat-error>Required</mat-error>
        </mat-form-field>

        <div class="mat-error" *ngIf="error">
            <br><br>
            <i class="fa fa-exclamation-circle"></i> {{ error }}
            <br><br>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions class="pb-4">
        <button [disabled]="loading" mat-raised-button color="primary" type="submit" class="full-width">{{ loading ? 'Logging In...' : 'Login' }}</button>
        <br>
        <br>
    </mat-dialog-actions>

</form>
