<mat-form-field [class]="class" [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <input matInput 
                [matDatepickerFilter]="filter" 
                [readonly]="true" 
                [matDatepicker]="picker" 
                [formControl]="control" 
                [type]="type"
                autocomplete="off"
                [placeholder]="placeholder"
                [max]="_max"
                [min]="_min"
                (click)="picker.open()"
                >

    <mat-datepicker-toggle #dptrigger matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="control.errors">{{ control.errors.required ? 'Required' : control.errors[0] }}</mat-error>
</mat-form-field>