<!-- <div [class]="'modal-header'">
    <h5 class="modal-title text-center">Message</h5>
</div>
<div class="modal-body">
</div>
<div class="modal-footer p-2">
    <button mat-raised-button [color]="color" (click)="close()"><i class="fa fa-check"></i> Ok</button>
</div> -->

<h1 mat-dialog-title><i class="fa fa-exclamation-circle"></i> Message</h1>
<div mat-dialog-content>
    <p [innerHTML]="message"></p>
</div>
<div mat-dialog-actions class="text-right">
    <button mat-raised-button class="float-right" [color]="color" (click)="close()"><i class="fa fa-check"></i> Ok</button>
</div>