<ng-container *ngIf="program">

    <h1>Program Info</h1>

    <div class="row">
        <div class="col-lg-6">
            <mat-card>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <h4 mat-line>{{ program.name }}</h4>
                            <span mat-line class="text-muted">Program Name</span>
                        </mat-list-item>
                        <mat-list-item>
                            <h4 mat-line>{{ program.code }}</h4>
                            <span mat-line class="text-muted">Program Code</span>
                        </mat-list-item>
                        <mat-list-item>
                            <h4 mat-line>{{ program.department?.name }}</h4>
                            <span mat-line class="text-muted">Department</span>
                        </mat-list-item>
                        <mat-list-item>
                            <h4 mat-line>{{ program.no_of_years }}</h4>
                            <span mat-line class="text-muted">No. Years</span>
                        </mat-list-item>
                        <mat-list-item>
                            <h4 mat-line>{{ program.student_count | formatNumber }}</h4>
                            <span mat-line class="text-muted">Enrolled Students</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button routerLink="../"><mat-icon>keyboard_backspace</mat-icon> Back to Programs</button>                   
                    <button routerLink="edit" mat-raised-button color="basic"><mat-icon>edit</mat-icon> Edit</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</ng-container>