<h1>{{ student ? 'Edit Student' : 'New Student' }}</h1>
<mat-card *ngIf="form">
    <mat-card-content>
        <app-material-input class="full-width" [control]="form.controls.id_number" label="ID Number"></app-material-input>
        <app-material-input class="full-width" [control]="form.controls.lastname" label="Last Name"></app-material-input>
        <app-material-input class="full-width" [control]="form.controls.firstname" label="First Name"></app-material-input>
        <app-material-input class="full-width" [control]="form.controls.middlename" label="Middle Name"></app-material-input>


        <app-material-autocomplete class="full-width"
            [control]="form.controls.program_id"
            label="Program"
            [defaultValue]="defaultProgram"
            placeholder="Search program"
            [fetch]="fetchProgram"
            (onSelectOption)="selectProgram($event)"
            >
        </app-material-autocomplete>


        <app-material-select required="true" class="full-width"
            [disabled]="!form.controls.program_id.value"
            [control]="form.controls.year_level"
            label="Year Level"
            placeholder="Select year level"
            [options]="yearLevelsFiltered">
        </app-material-select>

    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" [disabled]="saving || form.invalid" (click)="save()">
            <mat-icon>{{ saving ? 'hourglass_empty' : 'save' }}</mat-icon>
            {{ saving ? (student 
                                ? 'Updating...' 
                                : 'Saving...')
                       : (student 
                                ? 'Update' 
                                : 'Save')      }}
        </button>
        <a routerLink="../" mat-raised-button><mat-icon>cancel</mat-icon> Cancel</a>
    </mat-card-actions>
</mat-card>