.mat-column-view {

    flex: 0 0 5% !important;
    width: 5% !important;

    text-align: center !important;
    justify-content: center;
    
    @media screen and (max-width: 510px)  {
        flex: 0 0 20% !important;
        width: 20% !important;
    }
}


.mat-column-program,
.mat-column-year_level{
    width: 10% !important;
    flex: 0 0 10% !important;
}