<div class="row">
    <div class="col-sm-6">
        <h1><mat-icon>contacts</mat-icon> Students</h1>
    </div>
    <div class="col-sm-6 text-right">
        <button *hasPermission="'MANAGE_STUDENTS_CREATE'" mat-raised-button routerLink="create"><mat-icon>add</mat-icon> New Student</button>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id_number">
                <mat-header-cell *matHeaderCellDef>ID Number</mat-header-cell>
                <mat-cell *matCellDef="let student">
                    {{ student.id_number | titlecase }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fullname">
                <mat-header-cell *matHeaderCellDef>Fullname</mat-header-cell>
                <mat-cell *matCellDef="let student">
                    {{ student.fullname | titlecase }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef>Created At</mat-header-cell>
                <mat-cell *matCellDef="let student">
                    {{ student.created_at | parseDate | dfnsDistanceInWordsToNow }} ago
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let student; columns: columns" mat-ripple (click)="selectStudent(student)"></mat-row>

        </table>

        <app-ellipis-loading *ngIf="loading"></app-ellipis-loading>

    </mat-card-content>
</mat-card>