$cs3-dark-app-primary: mat-palette($mat-yellow);
$cs3-dark-app-accent: mat-palette($mat-amber, A200, A100, A400);
$cs3-dark-app-warn: mat-palette($mat-red);
$cs3-dark-app-theme: mat-dark-theme($cs3-dark-app-primary, $cs3-dark-app-accent, $cs3-dark-app-warn);
@include angular-material-theme($cs3-dark-app-theme);


.card-header{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgb(37, 37, 37);
}
    