$cs3-default-app-primary: mat-palette($mat-yellow);
$cs3-default-app-accent: mat-palette($mat-amber, A200, A100, A400);
$cs3-default-app-warn: mat-palette($mat-red);
$cs3-default-app-theme: mat-light-theme($cs3-default-app-primary, $cs3-default-app-accent, $cs3-default-app-warn);
@include angular-material-theme($cs3-default-app-theme);

.card-header{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #ccc;
}
    
.mat-ripple:hover{
    background-color: rgba(0,0,0,.05);
}



.between-lines {
    overflow: hidden;
    text-align: center;
}

.between-lines:before,
.between-lines:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.between-lines:before {
    right: 0.5em;
    margin-left: -50%;
}

.between-lines:after {
    left: 0.5em;
    margin-right: -50%;
}
