
.card-category{
    color: #8c8c8c !important;
}

.data-count{
    mat-icon, .detail{
        display: inline-block !important;
    }

    mat-icon{
        font-size: 50px;
        width: 50px;
        margin-right: 10px;
        -webkit-text-stroke-width: 0.02em;
        -webkit-text-stroke-color: black;
        color: yellow;
    }
}

mat-card{
    border-radius: 5px !important;
    margin: 5px;
}