
<h1>Dashboard</h1>

<mat-divider></mat-divider>
<br>

<div class="row">
    <div class="col-sm-6 col-lg-3 col-md-4">
        <mat-card matRipple class="data-count">
            <mat-icon>supervisor_account</mat-icon>
            <div class="detail">
                <h1 class="m-0">{{ (!loaded ? randomNumber : dashboardState.students) | number }}</h1>
                <span class="card-category">Students</span>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-4">
        <mat-card matRipple class="data-count">
            <mat-icon>school</mat-icon>
            <div class="detail">
                <h1 class="m-0">{{ (!loaded ? randomNumber : dashboardState.programs) | number }}</h1>
                <span class="card-category">Programs</span>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-4">
        <mat-card matRipple class="data-count">
            <mat-icon>business</mat-icon>
            <div class="detail">
                <h1 class="m-0">{{ (!loaded ? randomNumber : dashboardState.departments) | number }}</h1>
                <span class="card-category">Departments</span>
            </div>
        </mat-card>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-4">
        <mat-card matRipple class="data-count">
            <mat-icon>business</mat-icon>
            <div class="detail">
                <h1 class="m-0">{{ (!loaded ? randomNumber : dashboardState.colleges) | number }}</h1>
                <span class="card-category">Colleges</span>
            </div>
        </mat-card>
    </div>
</div>


<br>

<div class="row">
    <!-- <div class="col-lg-8">
        <app-station-usage-logs></app-station-usage-logs>
    </div> -->
<!-- 
    <div class="col-lg-4">
        <app-duty-time-percentage class="h-100"></app-duty-time-percentage>
    </div> -->
</div>
