
<h1>Dashboard</h1>

<mat-divider></mat-divider>
<br><br>

<div class="row">
    <div class="col-sm-6 col-lg-3 col-md-4">
        <mat-card class="text-center">

            <div class="card-header">
                <mat-icon>school</mat-icon>
            </div>

            <h1 [innerHTML]="!loaded ? 'Loading...' : dashboardState.semester"></h1>
            <span class="card-category">Current Academic Year</span>
        </mat-card>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-4">
        <mat-card class="text-center">

            <div class="card-header">
                <mat-icon>supervised_user_circle</mat-icon>
            </div>

            <h1 class="card-title">{{ !loaded ? randomNumber : dashboardState.students }}</h1>
            <span class="card-category">Student Accounts</span>
        </mat-card>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-4">
        <mat-card class="text-center">

            <div class="card-header">
                <mat-icon>event</mat-icon>
            </div>

            <h1 class="card-title">{{ !loaded ? randomNumber : dashboardState.events }}</h1>
            <span class="card-category">Events</span>
        </mat-card>
    </div>
    <div class="col-sm-6 col-lg-3 col-md-4">
        <mat-card class="text-center">

            <div class="card-header">
                <mat-icon>developer_board</mat-icon>
            </div>
            <h1 class="card-title">{{ !loaded ? randomNumber : dashboardState.posts }}</h1>
            <span class="card-category">Posts</span>
        </mat-card>
    </div>
</div>


<br>

<div class="row">
    <!-- <div class="col-lg-8">
        <app-station-usage-logs></app-station-usage-logs>
    </div> -->
<!-- 
    <div class="col-lg-4">
        <app-duty-time-percentage class="h-100"></app-duty-time-percentage>
    </div> -->
</div>
