<div *ngIf="user">

    <div *ngIf="user.reset_password == false;" (swipeleft)="closeNav()" (swiperight)="openNav()">
        <app-top-navbar (toggled)="onToggle($event)"></app-top-navbar>

        <mat-sidenav-container>
            <mat-sidenav #sidenav [fixedInViewport]="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="isHandset ? 'over' : 'side'" [opened]="isHandset == false">
                <mat-nav-list>

                    <app-side-nav [sidenav]="sidenav"></app-side-nav>

                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div style="min-height: 80vh;" class="p-3">
                    <router-outlet  (swiperight)="openNav()" (swipeleft)="closeNav()"></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

    <app-update-password *ngIf="user.reset_password"></app-update-password>

</div>

<div *ngIf="user == null && error_occured == false" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #222;">

    <mat-toolbar color="primary">
        <!-- Loading resources... -->
    </mat-toolbar>

    <br>
    <br>
    <br>
    <div class="app-loading">
        <div class="text-center">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<app-unknown-error *ngIf="user == null && error_occured"></app-unknown-error>
