
<a mat-list-item 
    class="menu-list-item"
    *ngIf="!item.children"

    [routerLink]="item.route"

    routerLinkActive="active"
    
    (click)="onItemSelected(item)" 

    [ngStyle]="{'padding-left': (depth * 12) + 'px'}">

    <mat-icon class="routeIcon">{{ item.iconName }}</mat-icon>
    <span>{{item.displayName}}</span>
</a>

<a mat-list-item 
    class="menu-list-item"
    
    *ngIf="item.children && item.children.length"

    [ngStyle]="{'padding-left': (depth * 12) + 'px'}" 
    [ngClass]="{'expanded': expanded}" 

    (click)="onItemSelected(item)" >
    
            <mat-icon class="routeIcon">{{ item.iconName }}</mat-icon>
            <span>{{item.displayName}}</span>

            <span fxFlex class="flex-spacer"></span>

            <span>
            <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                expand_more
            </mat-icon>
            </span>
</a>


<div *ngIf="expanded">
    <app-side-menu-item [sidenav]="sidenav"  *ngFor="let child of item.children" [item]="child" [depth]="depth+1"></app-side-menu-item>
</div>
