<button mat-icon-button [mat-menu-trigger-for]="themeMenu" aria-label="Select a theme"
        matTooltip="Select a theme for the documentation">
  <mat-icon>format_color_fill</mat-icon>
</button>

<mat-menu #themeMenu="matMenu" xPosition="before" class="docs-theme-picker-menu">
  <button mat-menu-item *ngFor="let theme of themes" (click)="selectTheme(theme)">
    <mat-icon [ngClass]="{'docs-theme-selected-icon': currentTheme.className == theme.className}"
              [color]="currentTheme.className == theme.className ? 'accent' : undefined">
      {{ currentTheme.className == theme.className ? 'radio_button_checked' : 'radio_button_unchecked'}}
    </mat-icon>
    <span>{{theme.displayName}}</span>
  </button>
</mat-menu>
