<h1>
    <mat-icon>business</mat-icon>
    Department Info
</h1>

<div class="row" *ngIf="department">
    <div class="col-sm-6">
        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <span class="text-muted">Department Name</span>
                        <span class="flex-spacer"></span>
                        {{ department.name }}
                    </mat-list-item>
                    <mat-list-item>
                        <span class="text-muted">Code</span>
                        <span class="flex-spacer"></span>
                        {{ department.code }}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button routerLink="../"><mat-icon>keyboard_backspace</mat-icon> Back to Departments</button>                   
                <button routerLink="edit" mat-raised-button color="basic"><mat-icon>edit</mat-icon> Edit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>