<h1>
    <mat-icon>business</mat-icon>
    Department Info
</h1>

<div class="row" *ngIf="department">
    <div class="col-sm-6">
        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <h4 mat-line>{{ department.name }}</h4>
                        <p mat-line class="text-muted">Department Name</p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <h4 mat-line>{{ department.code }}</h4>
                        <p mat-line class="text-muted">Department Code</p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <h4 mat-line>{{ department.college.name }}</h4>
                        <p mat-line class="text-muted">College</p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <h4 mat-line>{{ department.programs.length | formatNumber }}</h4>
                        <p mat-line class="text-muted">Programs Offered</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button routerLink="../"><mat-icon>keyboard_backspace</mat-icon> Back to Departments</button>                   
                <button routerLink="edit" mat-raised-button color="basic"><mat-icon>edit</mat-icon> Edit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>