<h1>
    <mat-icon>business</mat-icon>
    College Info
</h1>

<div class="row" *ngIf="college">
    <div class="col-sm-6">
        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <h4 mat-line>{{ college.name }}</h4>
                        <span mat-line class="text-muted">College Name</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <h4 mat-line>{{ college.name }}</h4>
                        <span mat-line class="text-muted">College Code</span>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <h4 mat-line>{{ college.departments.length | formatNumber }}</h4>
                        <span mat-line class="text-muted">No. of Departments</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button routerLink="../"><mat-icon>keyboard_backspace</mat-icon> Back to Colleges</button>                   
                <button routerLink="edit" mat-raised-button color="basic"><mat-icon>edit</mat-icon> Edit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>