<mat-card *ngIf="form">
    <mat-card-header>
        <mat-card-title>{{ event ? 'Edit' : 'New' }} Event</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div class="row">
            <div class="col-md-4">
                <app-material-input class="full-width" [control]="form.controls.name" label="Event Name"></app-material-input>
            </div>
            <div class="col-md-4">
                <app-material-select [required]="true" class="full-width" [control]="form.controls.type" [options]="eventTypes" label="Event Type"></app-material-select>        
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <app-material-datepicker 
                            [filter]="filterWeekends" 
                            class="full-width" 
                            [control]="form.controls.start_date" 
                            [label]="notSingleDayEvent ? 'Start Date' : 'Date'">
                </app-material-datepicker>
            </div>
            <div class="col-md-4">

                <app-material-datepicker 
                            [filter]="filterWeekends" 
                            class="full-width" 
                            [control]="form.controls.end_date" 
                            *ngIf="notSingleDayEvent" 
                            label="End Date">
                </app-material-datepicker>
            </div>
        </div>

        <mat-checkbox class="mr-2" 
                        [checked]="notSingleDayEvent" 
                        (change)="toggleNotSingleDayEvent($event)">
                        More than 1 Day Event
        </mat-checkbox>
        <br>
        <mat-checkbox  [formControl]="form.controls.include_weekends">Include Weekends</mat-checkbox>
       
        <ckeditor [editor]="editor" [formControl]="form.controls.description" [config]="{ placeholder: 'Put event description here...'}"></ckeditor>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" [disabled]="form.invalid || saving" (click)="save()"><mat-icon>save</mat-icon> {{ saving ? 'Saving...' : 'Save' }}</button>
        <button mat-raised-button color="basic" routerLink="../"><mat-icon>cancel</mat-icon> Cancel</button>
    </mat-card-actions>
</mat-card>