<h1>
    <i class="fa fa-users"></i> Users
    <a mat-raised-button color="primary" routerLink="/management/users/create" rou>New</a>
</h1>
<mat-card>
    <mat-card-header>
        <mat-form-field *ngIf="isLoading == false">
            <input matInput autocomplete="off" [(ngModel)]="queryParams.q" (keydown.enter)="fetchUsers()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
              <!-- <mat-icon>search</mat-icon> -->
              <i class="fa fa-search"></i>
            </button>
        </mat-form-field>



    </mat-card-header>
    <mat-card-content>

        <div class="table-responsive">


          <table *ngIf="isLoading == false || users" mat-table class="mat-elevation-28" [dataSource]="users">

              <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef> Username </th>
                  <td mat-cell *matCellDef="let user">
                      <i class="fa fa-user-circle"></i> {{ user.username }}
                  </td>
              </ng-container>


              <ng-container matColumnDef="firstname">
                  <th mat-header-cell *matHeaderCellDef> Firstname </th>
                  <td mat-cell *matCellDef="let user"> {{ user.firstname | titlecase }} </td>
              </ng-container>

              <ng-container matColumnDef="lastname">
                  <th mat-header-cell *matHeaderCellDef> Lastname </th>
                  <td mat-cell *matCellDef="let user"> {{ user.lastname | titlecase }} </td>
              </ng-container>

              <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef> Created </th>
                  <td mat-cell *matCellDef="let user"> {{ user.created_at | parseDate | dfnsDistanceInWordsToNow | titlecase }} ago</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let user">
                      <button mat-raised-button color="basic" [routerLink]="'/management/users/' + user.id + '/edit'"><i class="fa fa-edit"></i></button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>
        <br>

    </mat-card-content>
</mat-card>
