<mat-card *ngIf="event">
    <mat-card-header>
        <mat-card-title>{{ event.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>


        <div class="ck-content" [innerHTML]="event.description"></div>
    </mat-card-content>
    <mat-card-actions align="end">

        <button mat-button routerLink="../"><mat-icon>keyboard_backspace</mat-icon> Back to Events</button>
        <button mat-raised-button color="accent" routerLink="monitor-attendance"><mat-icon>group</mat-icon> Attendance</button>

        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon> Option</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item color="accent" routerLink="edit"><mat-icon>edit</mat-icon> Edit</button>
            <button mat-menu-item color="error" (click)="deleteEvent()"><mat-icon>delete</mat-icon> Delete</button>
        </mat-menu>

    </mat-card-actions>
</mat-card>