<div class="row">
    <div class="col-sm-6">
        <h1>
            <mat-icon>business</mat-icon>
            Colleges
        </h1>
    </div>
    <div class="col-sm-6 text-right">
        <button mat-raised-button routerLink="create"><mat-icon>add</mat-icon> New College</button>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <div class="row m-0">
            <div class="col-md-6">
                <app-material-input icon="search" [control]="filter.q" label="Search" class="full-width" placeholder="Type name, id etc..." ></app-material-input>
            </div>
            <div class="col-md-6">
                <mat-paginator [length]="meta.total"
                        [pageSize]="meta.per_page"
                        [pageIndex]="meta.current_page - 1"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="fetchColleges($event)">
                </mat-paginator>
            </div>
        </div>


        <table mat-table [dataSource]="source" [@fetch]="loading ? 'fetching':'done'">

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let college">
                    {{ college.name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
                <mat-cell *matCellDef="let college">
                    {{ college.code }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="view">
                <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
                <mat-cell *matCellDef="let college">
                    <button mat-icon-button [routerLink]="college.id">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row matRipple *matRowDef="let college; columns: displayedColumns"></mat-row>
        </table>

        <app-ellipis-loading *ngIf="loading"></app-ellipis-loading>

    </mat-card-content>
</mat-card>