<div class="row">
    <div class="col-sm-6">
        <h1>
            <mat-icon>school</mat-icon>
            Programs
        </h1>
    </div>
    <div class="col-sm-6 text-right">
        <button mat-raised-button routerLink="create"><mat-icon>add</mat-icon> New Program</button>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <div class="row m-0">
            <div class="col-md-6">
                <app-material-input icon="search" [control]="filter.q" label="Search" class="full-width" placeholder="Type name, id etc..." ></app-material-input>
            </div>
            <div class="col-md-6">
                <mat-paginator [length]="meta.total"
                        [pageSize]="meta.per_page"
                        [pageIndex]="meta.current_page - 1"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="fetchPrograms($event)">
                </mat-paginator>
            </div>
        </div>


        <table mat-table [dataSource]="source" [@fetch]="loading ? 'fetching':'done'">

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Program</mat-header-cell>
                <mat-cell *matCellDef="let program">
                    {{ program.name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
                <mat-cell *matCellDef="let program">
                    {{ program.code }}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="department">
                <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
                <mat-cell *matCellDef="let program">
                    {{ program.department?.code }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="no_of_years">
                <mat-header-cell *matHeaderCellDef>Years to Complete</mat-header-cell>
                <mat-cell *matCellDef="let program">
                    {{ program.no_of_years }}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="student_count">
                <mat-header-cell *matHeaderCellDef>Enrolled Students</mat-header-cell>
                <mat-cell *matCellDef="let program" class="text-center">
                    {{ program.student_count > 0 ? program.student_count : 'None' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="view">
                <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
                <mat-cell *matCellDef="let program">
                    <button mat-icon-button [routerLink]="program.id">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row matRipple *matRowDef="let program; columns: displayedColumns"></mat-row>
        </table>

        <app-ellipis-loading *ngIf="loading"></app-ellipis-loading>

    </mat-card-content>
</mat-card>