.mat-column-code,
.mat-column-no_of_years,
.mat-column-student_count, 
.mat-column-view{
    width: 10% !important;
    flex: 0 0 10% !important;

    @media screen and (max-width: 400px){
        width: 30% !important;
        flex: 0 0 30% !important;
    }

}


.mat-column-student_count, 
.mat-column-no_of_years,
.mat-column-view{
    text-align: center !important;
    justify-content: center;
}