<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="/assets/icons/icon-72x72.png" alt="" class="cs-logo">
        <button mat-icon-button>
          <mat-icon (click)="toggle()">menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>


        <div class="flex-spacer"></div>


        <!-- <mat-form-field>
          <input matInput autocomplete="off">
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>search</mat-icon>
            <i class="fa fa-search"></i>
          </button>
      </mat-form-field> -->

        <app-theme-picker title="Change Theme"></app-theme-picker>

        <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <!-- <mat-icon>more_vert</mat-icon> -->
        <mat-icon>account_circle</mat-icon>
        {{ user.firstname }}
      </button>
        <mat-menu #menu="matMenu">
            <a routerLink="/management/account" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Account Settings</span>
            </a>


            <button mat-menu-item (click)="doLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign Out</span>
          </button>
        </mat-menu>
    </mat-toolbar-row>

    <!-- <mat-toolbar-row>

  </mat-toolbar-row> -->

</mat-toolbar>
